* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}


.wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}
.genres_box_inner::-webkit-scrollbar {
    width: 0;
  }

img {
  max-width: 100%;
}

html {
    font-family: Qanelas;
    background: #1e2538;
}

.show {
  display: block !important;
}

header {
  padding: 25px 0;
  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;

      &-title {
        padding-left: 6px;
        .logo-kino {
          color: #3657cb;
          font-family: Qanelas;
          font-size: 25px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
        }

        .logo-area {
          color: #fff;
          font-family: Qanelas;
          font-size: 25px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
        }
      }
    }

    .menu-list {
      list-style: none;
      display: flex;
      gap: 50px;

      li {
        color: #fff;
        font-family: Qanelas;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        cursor: pointer;
      }
    }

    .header-right {
      display: flex;
      gap: 15px;

      .login-button {
        width: 138px;
        height: 53px;
        border-radius: 10px;
        background: #3657cb;
        box-shadow: 0px 0px 15px 0px rgba(72, 113, 255, 0.8);

        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-family: Qanelas;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 166.5%; /* 26.64px */
      }
    }
  }
}

section.popular {
    margin-top: 78px;
    .container {
        display: flex;
        flex-direction: column;
        gap: 42px;

        padding-bottom: 20px;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                color: #fff;
                font-family: Qanelas;
                font-size: 45px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
            }

            hr {
                width: 51.5px;
                height: 0px;
                flex-shrink: 0;

                background: #fff;
            }

            .year__list {
                width: 500px;

                overflow-x: scroll;

                display: flex;
                align-items: center;

                gap: 25px;

                &::-webkit-scrollbar {
                    display: none;
                }

                .year {
                    color: rgba(255, 255, 255, 0.35);
                    font-family: Qanelas;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;

                    white-space: nowrap;

                    &.active {
                        color: #fff;
                    }

                    &:hover {
                        color: #fff;
                    }

                    cursor: pointer;
                }
            }
        }

        .swiper {
            width: 100%;
            height: 524px;

            .swiper-wrapper {
                display: flex;
                align-items: center;

                .swiper-slide {
                    .movie-img {
                        border-radius: 10px;

                        .overlay {
                            position: absolute;
                            inset: 0;

                            display: none;
                            background: rgba(54, 87, 203, 0.65);

                            &.hover {
                                display: block;

                                animation: hover-in 0.5s ease-in;
                                @keyframes hover-in {
                                    0% {
                                        width: 0;
                                    }

                                    100% {
                                        width: 100%;
                                    }
                                }
                            }

                            &.unhover {
                                display: block;

                                animation: hover-out 0.5s ease-out;

                                @keyframes hover-out {
                                    0% {
                                        width: 100%;
                                    }

                                    100% {
                                        width: 0;
                                    }
                                }
                            }
                        }

                        position: relative;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        .rating {
                            all: unset;
                            position: absolute;
                            top: 10px;
                            right: 10px;

                            width: 62.275px;
                            height: 33.214px;
                            flex-shrink: 0;

                            border-radius: 5px;
                            background: #4bcb36;

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            color: #fff;
                            font-family: Qanelas;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }

                        .movie-button {
                            position: absolute;
                            top: 50%;
                            left: 50%;

                            transform: translate(-50%, -50%);

                            width: 224px;
                            height: 71px;
                            flex-shrink: 0;

                            border-radius: 10px;
                            background: #fff;
                            box-shadow: 0px 0px 10px 0px rgba(55, 94, 232, 0.4);

                            border: 0;

                            color: #3657cb;
                            font-family: Qanelas;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 166.5%; /* 29.97px */

                            cursor: pointer;

                            display: none;

                            &.hover {
                                display: block;
                                animation: hover-up 0.5s ease-in;

                                @keyframes hover-up {
                                    0% {
                                        opacity: 0;
                                        transform: translate(-50%, 50%);
                                    }

                                    100% {
                                        opacity: 1;
                                        transform: translate(-50%, -50%);
                                    }
                                }
                            }

                            &.unhover {
                                display: block;
                                animation: hover-down 0.5s ease-out;

                                @keyframes hover-down {
                                    0% {
                                        transform: translate(-50%, -50%);
                                    }

                                    100% {
                                        transform: translate(-50%, 50%);
                                        opacity: 0;
                                    }
                                }
                            }
                        }
                    }

                    .info {
                        display: flex;
                        flex-direction: column;

                        .title {
                            color: #fff;
                            font-family: Qanelas;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }

                        .genres {
                            color: #f2f60f;
                            font-family: Qanelas;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                }
            }

            .swiper-button-next,
            .swiper-button-prev {
                color: #fff;

                position: absolute;
                z-index: 10;
                bottom: 0;
                width: 25px;
            }

            .swiper-button-prev {
                left: 530px;
            }

            .swiper-button-next {
                right: 530px;
            }

            .swiper-pagination {
                color: #fff;

                top: unset !important;
                bottom: 5px !important;
                width: auto;

                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

.actors_box {
  padding: 100px 0;
  .actors_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    h1 {
      color: white;
      font-size: 50px;
      font-weight: 900;
    }

    .actors_header_intervals {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;

      p {
        color: #6d717d;
        font-size: 25px;
        font-weight: 900;
      }
      p:hover {
        color: rgb(204, 203, 203);
      }
      .active_genre {
        color: white;
      }
    }
  }

  .actors_blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .actor_block_one,
    .actor_block_two {
      height: 444px;
      width: 444px;
      background-color: #1e2538;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      // padding: 50px;
      position: relative;
      border-radius: 5px;

      .actor_pic {
        height: 444px;
        width: 444px;
        border-radius: 5px;
        position: absolute;
        object-fit: cover;

      }



      h1 {
        color: #f2f60f;
        font-size: 15px;
        font-weight: 500;
        z-index: 999;
        padding: 20px;
      }
      .actors_names {
        z-index: 999;
        padding: 0 20px 20px;


        h2 {
          color: white;
          font-size: 27px;
          font-weight: 700;
          cursor: pointer;
        }
        h3 {
          color: rgb(157, 156, 156);
          font-size: 20px;
          font-weight: 600;
          cursor: pointer;
        }
        h4 {
          color: #f2f60f;
          font-size: 15px;
          font-weight: 500;
        }
      }
    }
    .actors_name_block {
      height: 444px;
      width: 444px;
      // background-color: #1e2538;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      // scroll-behavior: smooth;
      overflow-y: scroll !important;
      overflow-x: hidden !important;

      .actors_info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        border-bottom: 2px solid #272f47;

        .actors_name_block_left {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          gap: 5px;
          .actors_name_block_one {
            color: white;
            font-size: 20px;
            font-weight: 700;
            cursor: pointer;
          }
          .actors_name_block_two {
            color: #3b486b;
            font-size: 15px;
            font-weight: 600;
            cursor: pointer;

          }
          .actors_name_block_age {
            color: #f2f60f;
            font-size: 14px;
            font-weight: 400;
          }
        }
        .actors_name_block_right {
          // display: flex;
          // justify-content: center;
          // align-items: center;

          .actors_name_block_place {
            color: #f2f60f;
            font-size: 15px;
            font-weight: 600;
            padding: 25px 0;
          }
        }
      }
    }
    .actors_name_block::-webkit-scrollbar {
      width: 0px;
    }
  }
}


@import "./modals.scss";
