.posters {
    margin-top: 74px;

    .container {
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                color: #fff;
                font-family: Qanelas;
                font-size: 54px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
            }

            a {
                color: #fff;
                font-family: Qanelas;
                font-size: 22px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;

                display: flex;
                justify-content: center;
                align-items: center;

                gap: 32px;
            }
        }

        .swiper {
            margin-top: 53px;
            width: 100%;

            .name {
                color: #fff;
                font-family: Qanelas;
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            .swiper-wrapper {
                margin-top: 19px;
                // height: 485px;
                .swiper-slide {
                    img {
                        width: 100%;
                        height: 100%;

                        object-fit: cover;
                    }

                    cursor: pointer;
                }

                .swiper-slide:nth-child(4)::after {
                    content: attr(data-more);
                    position: absolute;
                    inset: 0;
                    border-radius: 10px;
                    background: rgba(54, 87, 203, 0.65);

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    color: #fff;
                    font-family: Qanelas;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                .swiper-slide:nth-child(1n + 5) {
                    display: none;
                }
            }
        }
    }
}

.frames {
    margin-top: 74px;

    .container {
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                color: #fff;
                font-family: Qanelas;
                font-size: 54px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
            }

            a {
                color: #fff;
                font-family: Qanelas;
                font-size: 22px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;

                display: flex;
                justify-content: center;
                align-items: center;

                gap: 32px;
            }
        }

        .gridbox {
            margin-top: 30px;

            .name {
                margin-bottom: 34px;

                color: #fff;
                font-family: Qanelas;
                font-size: 25px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            .grid {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(4, 1fr);
                gap: 25px;

                .item {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 10px;
                    }
                }

                .item:nth-child(1) {
                    grid-column: 1 / span 2;
                    grid-row: 1 / span 2;
                }

                .item:nth-child(2) {
                    grid-row: 1 / span 2;
                }

                .item:nth-child(3) {
                    grid-row: 1 / span 2;
                }

                .item:nth-child(4) {
                    grid-row: 3 / 5;
                    grid-column: 1;
                }

                .item:nth-child(5) {
                    grid-row: 3 / 5;
                    grid-column: 2;
                }

                .item:nth-child(6) {
                    grid-row: 3 / 5;
                    grid-column: 3 / span 2;
                    position: relative;

                    &::after {
                        content: attr(data-more);
                        position: absolute;
                        inset: 0;
                        border-radius: 10px;
                        background: rgba(54, 87, 203, 0.65);

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        color: #fff;
                        font-family: Qanelas;
                        font-size: 30px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                }

                .item:nth-child(1n + 7) {
                    display: none;
                }
            }
        }
    }
}

.sequels {
    margin-top: 74px;

    .container {
        .header {
            display: flex;
            justify-content: center;
            align-items: center;

            h1 {
                color: #fff;
                font-family: Qanelas;
                font-size: 55px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
            }
        }

        .swiper {
            width: 100%;
            height: 524px;
            margin-top: 74px;

            .swiper-wrapper {
                display: flex;
                align-items: center;

                .swiper-slide {
                    .movie-img {
                        border-radius: 10px;

                        .overlay {
                            position: absolute;
                            inset: 0;

                            display: none;
                            background: rgba(54, 87, 203, 0.65);

                            &.hover {
                                display: block;

                                animation: hover-in 0.5s ease-in;
                                @keyframes hover-in {
                                    0% {
                                        width: 0;
                                    }

                                    100% {
                                        width: 100%;
                                    }
                                }
                            }

                            &.unhover {
                                display: block;

                                animation: hover-out 0.5s ease-out;

                                @keyframes hover-out {
                                    0% {
                                        width: 100%;
                                    }

                                    100% {
                                        width: 0;
                                    }
                                }
                            }
                        }

                        position: relative;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        .rating {
                            all: unset;
                            position: absolute;
                            top: 10px;
                            right: 10px;

                            width: 62.275px;
                            height: 33.214px;
                            flex-shrink: 0;

                            border-radius: 5px;
                            background: #4bcb36;

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            color: #fff;
                            font-family: Qanelas;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }

                        .movie-button {
                            position: absolute;
                            top: 50%;
                            left: 50%;

                            transform: translate(-50%, -50%);

                            width: 224px;
                            height: 71px;
                            flex-shrink: 0;

                            border-radius: 10px;
                            background: #fff;
                            box-shadow: 0px 0px 10px 0px rgba(55, 94, 232, 0.4);

                            border: 0;

                            color: #3657cb;
                            font-family: Qanelas;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 166.5%; /* 29.97px */

                            cursor: pointer;

                            display: none;

                            &.hover {
                                display: block;
                                animation: hover-up 0.5s ease-in;

                                @keyframes hover-up {
                                    0% {
                                        opacity: 0;
                                        transform: translate(-50%, 50%);
                                    }

                                    100% {
                                        opacity: 1;
                                        transform: translate(-50%, -50%);
                                    }
                                }
                            }

                            &.unhover {
                                display: block;
                                animation: hover-down 0.5s ease-out;

                                @keyframes hover-down {
                                    0% {
                                        transform: translate(-50%, -50%);
                                    }

                                    100% {
                                        transform: translate(-50%, 50%);
                                        opacity: 0;
                                    }
                                }
                            }
                        }
                    }

                    .info {
                        display: flex;
                        flex-direction: column;

                        .title {
                            color: #fff;
                            font-family: Qanelas;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }

                        .genres {
                            color: #f2f60f;
                            font-family: Qanelas;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                }
            }

            .swiper-button-next,
            .swiper-button-prev {
                color: #fff;

                position: absolute;
                z-index: 10;
                bottom: 0;
                width: 25px;
            }

            .swiper-button-prev {
                left: 530px;
            }

            .swiper-button-next {
                right: 530px;
            }

            .swiper-pagination {
                color: #fff;

                top: unset !important;
                bottom: 5px !important;
                width: auto;

                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

.quotes {
    margin-top: 85px;

    .container {
        .header {
            h1 {
                color: #fff;
                font-family: Qanelas;
                font-size: 55px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
            }
        }

        .quote {
            margin-top: 46px;

            border-radius: 10px;
            background: #191e2e;

            padding: 60px 54px;
            position: relative;

            &::before {
                content: "“”";
                color: #161b29;
                font-family: Qanelas;
                font-size: 150px;
                font-style: italic;
                font-weight: 600;
                line-height: normal;

                position: absolute;
                top: -50px;
            }

            p {
                color: #fff;
                font-family: Qanelas;
                font-size: 17px;
                font-style: italic;
                font-weight: 400;
                line-height: normal;
            }

            h5 {
                margin-top: 10px;
                color: #fff;
                font-family: Qanelas;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }
    }
}

.sameMovies {
    margin-top: 85px;

    .container {
        .header {
            display: flex;
            justify-content: center;
            align-items: center;

            h1 {
                color: #fff;
                font-family: Qanelas;
                font-size: 55px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
            }
        }

        .swiper {
            width: 100%;
            height: 524px;
            margin-top: 45px;

            .swiper-wrapper {
                display: flex;
                align-items: center;

                .swiper-slide {
                    .movie-img {
                        border-radius: 10px;

                        .overlay {
                            position: absolute;
                            inset: 0;

                            display: none;
                            background: rgba(54, 87, 203, 0.65);

                            &.hover {
                                display: block;

                                animation: hover-in 0.5s ease-in;
                                @keyframes hover-in {
                                    0% {
                                        width: 0;
                                    }

                                    100% {
                                        width: 100%;
                                    }
                                }
                            }

                            &.unhover {
                                display: block;

                                animation: hover-out 0.5s ease-out;

                                @keyframes hover-out {
                                    0% {
                                        width: 100%;
                                    }

                                    100% {
                                        width: 0;
                                    }
                                }
                            }
                        }

                        position: relative;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        .rating {
                            all: unset;
                            position: absolute;
                            top: 10px;
                            right: 10px;

                            width: 62.275px;
                            height: 33.214px;
                            flex-shrink: 0;

                            border-radius: 5px;
                            background: #4bcb36;

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            color: #fff;
                            font-family: Qanelas;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }

                        .movie-button {
                            position: absolute;
                            top: 50%;
                            left: 50%;

                            transform: translate(-50%, -50%);

                            width: 224px;
                            height: 71px;
                            flex-shrink: 0;

                            border-radius: 10px;
                            background: #fff;
                            box-shadow: 0px 0px 10px 0px rgba(55, 94, 232, 0.4);

                            border: 0;

                            color: #3657cb;
                            font-family: Qanelas;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 166.5%; /* 29.97px */

                            cursor: pointer;

                            display: none;

                            &.hover {
                                display: block;
                                animation: hover-up 0.5s ease-in;

                                @keyframes hover-up {
                                    0% {
                                        opacity: 0;
                                        transform: translate(-50%, 50%);
                                    }

                                    100% {
                                        opacity: 1;
                                        transform: translate(-50%, -50%);
                                    }
                                }
                            }

                            &.unhover {
                                display: block;
                                animation: hover-down 0.5s ease-out;

                                @keyframes hover-down {
                                    0% {
                                        transform: translate(-50%, -50%);
                                    }

                                    100% {
                                        transform: translate(-50%, 50%);
                                        opacity: 0;
                                    }
                                }
                            }
                        }
                    }

                    .info {
                        display: flex;
                        flex-direction: column;

                        .title {
                            color: #fff;
                            font-family: Qanelas;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }

                        .genres {
                            color: #f2f60f;
                            font-family: Qanelas;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                }
            }

            .swiper-button-next,
            .swiper-button-prev {
                color: #fff;

                position: absolute;
                z-index: 10;
                bottom: 0;
                width: 25px;
            }

            .swiper-button-prev {
                left: 530px;
            }

            .swiper-button-next {
                right: 530px;
            }

            .swiper-pagination {
                color: #fff;

                top: unset !important;
                bottom: 5px !important;
                width: auto;

                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}
